NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="opcional: su api key de clerk"
CLERK_SECRET_KEY="su secreto de clerk"

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard

NEXT_PUBLIC_SUPABASE_URL="su url publica de supabase"
NEXT_PUBLIC_SUPABASE_KEY="su api key de supabase"