.keyboard {
  transform: rotateX(60deg) rotateZ(45deg);
  transform-style: preserve-3d;
  background: var(--keyboard-bg);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: inset 1rem 1rem 0 0.4rem var(--keyboard-highlight);
  display: flex;
  gap: 0 2rem;
  position: relative;
}

.keyboard .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 5rem;
  background-image: linear-gradient(
    90deg,
    var(--keyboard-shadow) 50%,
    var(--keyboard-highlight)
  );
  transform: rotateX(90deg) rotateX(14deg) translateX(10rem) translateY(-6rem)
    translateZ(-39rem);
  filter: blur(0.5rem);
}

.keyboard .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 2rem;
  box-shadow:
    inset -0.3rem -0.3rem 0.1rem 0.2rem var(--keyboard-highlight),
    inset -1rem -1rem 0 0.4rem var(--keyboard-inset-shadow),
    inset -2rem -2rem 2rem -0.6rem var(--keyboard-base),
    0 0 var(--keyboard-base),
    0.3rem 0.3rem var(--keyboard-base),
    0.6rem 0.6rem var(--keyboard-base),
    0.9rem 0.9rem var(--keyboard-base),
    1.2rem 1.2rem var(--keyboard-base),
    1.5rem 1.5rem var(--keyboard-base),
    1.8rem 1.8rem var(--keyboard-base),
    2.1rem 2.1rem var(--keyboard-base),
    2.4rem 2.4rem var(--keyboard-base),
    2.7rem 2.7rem var(--keyboard-base),
    3rem 3rem var(--keyboard-base),
    3.3rem 3.3rem var(--keyboard-base),
    3.6rem 3.6rem var(--keyboard-base),
    3.9rem 3.9rem var(--keyboard-base),
    4.2rem 4.2rem var(--keyboard-base),
    4.5rem 4.5rem var(--keyboard-base),
    4.8rem 4.8rem var(--keyboard-base),
    5.1rem 5.1rem var(--keyboard-base),
    5.4rem 5.4rem var(--keyboard-base),
    5.7rem 5.7rem var(--keyboard-base),
    6rem 6rem var(--keyboard-base),
    6.3rem 6.3rem var(--keyboard-base),
    6.6rem 6.6rem var(--keyboard-base),
    6.6rem 6.6rem var(--keyboard-base),
    8rem 8rem 1.5rem var(--keyboard-shadow);
}

.key {
  position: relative;
  width: 6rem;
  height: 6rem;
  transform: translateX(-3rem) translateY(-3rem);
  transform-style: preserve-3d;
  user-select: none;
  transition: transform 0.1s ease-out;
}

.key.active {
  transform: translateX(-1rem) translateY(-1rem);
}

.key .char {
  position: absolute;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--keyboard-text);
  text-shadow:
    0.05rem 0rem 0 var(--keyboard-text-shadow),
    0.05rem 0.1rem 0 var(--keyboard-text-shadow-dark),
    0.1rem 0.05rem 0 var(--keyboard-text-shadow),
    0.1rem 0.15rem 0 var(--keyboard-text-shadow-dark),
    0.15rem 0.1rem 0 var(--keyboard-text-shadow),
    0.15rem 0.2rem 0 var(--keyboard-text-shadow-dark),
    0.2rem 0.15rem 0 var(--keyboard-text-shadow),
    0.2rem 0.25rem 0 var(--keyboard-text-shadow-dark),
    0.25rem 0.2rem 0 var(--keyboard-text-shadow),
    0.25rem 0.3rem 0 var(--keyboard-text-shadow-dark);

  z-index: 3;
  pointer-events: none;
}

.key .side {
  position: absolute;
  width: 250%;
  height: 140%;
  background-image: linear-gradient(
    var(--keyboard-key-highlight) 30%,
    var(--keyboard-key-shadow) 40%
  );
  border-radius: 1rem;
  transform: rotateZ(45deg) translate(19%, 30%);
  z-index: 0;
}

.key .top {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.key .top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--keyboard-key-bg);
  border-radius: 0.8em;
  filter: blur(0.3rem);
  transform: translate(10%, 10%);
  z-index: 1;
}

.key .top::after {
  content: "";
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  width: 105%;
  height: 105%;
  background-image: linear-gradient(
    -50deg,
    transparent 45%,
    var(--keyboard-key-highlight) 55%
  );
  border-radius: 0.8rem;
  box-shadow:
    inset -0.2rem -0.2rem 0.5rem -0.2rem var(--keyboard-inset-shadow),
    0.2rem 0.2rem 0.5rem -0.2rem var(--keyboard-inset-highlight);
  z-index: 2;
}
